<form action = '/questions/new' method = "post" >
	<label for="question[body]">Question:</label><br>
	Title:
	<input type = "textarea" name="title">
	Body:
	<input type = "textarea" name="body">
	<input type="submit" value="Ask">
</form>