ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#home {
    float: left;
}

form {
    margin-top: 50px;
    margin: 0 auto; 
    width:300px;
    background-color: #fddcd2;
    font-size: 17px;
}

body {
    background-color: #fddcd2;
}



input {
  margin-top: 30px;
  background-color: #fddcd2;
  outline: none;
  border: none;
  text-align: left;
  font-size: 17px;
}



input[type=submit] {
    padding:5px 15px; 
    background:#fffaf9; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    
}


.boxes:focus {
  outline: none;
  box-shadow: 0 1px 0 0;
}
