<div class = 'register'>
<form action="/users" method="post">
  Name:
  <input class="boxes" type="text" name="name">
  Email:
  <input class="boxes" type="text" name="email">
  Password:
  <input class="boxes" type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
</div>
