<div class = 'register'>
<form action="/users" method="post">
  <fieldset>
  Name:<br>
  <input type="text" name="name"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="Password">
  <input type="submit" value="Signup">
  <fieldset>
</form>
</div>
