<div class = 'login'>
<form action="/users/login" method="post">
  <fieldset>
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="password_hash">
  <input type="submit" value="Signup">
  <fieldset>
</form>
</div>
